
/* This menu is shown for mobile only */

@media screen and (min-width: 650px) {

  .menu {
    display:flex;
    flex-direction: row;
    padding: 0.8333em 4%;
    justify-content: var(--position);
  }

  .menu_header .site_id {
    display: flex;
    flex-direction: row;
  }
  
  .menu_header .site_id img {
    width: 80px;
    height: 80px;
  }

  .menu_header .site_id .name_title h1 {
    display: none;
  }

  .menu_header .site_id .name_title h2 {
    display: none;
  }

  .menu_header .toggle-nav {
    display: none;
    font-size: 50px;
  }

  .menu_body {
    display: flex;
    flex-direction: row;
    align-items: center;  
    min-height: 80px;
    padding-top: 0em;
  }

  .menu_list {
    display: flex;
    flex-direction: row;
  }

  .menu_list li {
    padding: auto 1em;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    border-bottom: 0px solid var(--letter_color);
    border-right: 1px solid var(--letter_color);
  } 

  .menu_list li:last-child {
    border-bottom: 0px solid var(--letter_color);
    border-right: 1px solid var(--letter_color);
  }

  .menu_list li:first-child {
    border-top: 0px solid var(--letter_color);
  }

  .menu_social {
    padding: 0 0;
  }

  .social svg {
    height: 30px;
  }

}