a h1 {
  margin: 0 0;
}

.menu {
  display: grid;
  grid-template-rows: auto;
  background: var(--bkg_color);
  position: fixed;
  padding: 0.83333em 3vw;
  width: calc(100% - 6vw);
  top: 0;
  left: 0;
  z-index: 100;
}

.menu_header {
  display: flex;
  justify-content: space-between;
}

.menu_header img {
  width: var(--photo_size);
  height: var(--photo_size);
  border-radius: 100%;
  border: 2px solid #E5A544;
}

.menu_header .site_id {
  display: flex;
  width: 100%;
}

.menu_header .site_id .name_title {
  margin: auto 2%;
  color: var(--letter_color);
}


.name_title a {
  text-decoration: none;
  color: var(--letter_color);
}

.menu_header .site_id .name_title h1 {
  margin: 0 0;
  font-size: 1.25em;
}

.menu_header .site_id .name_title h2 {
  margin: 0 0;
  margin-top: 0.6em;
  font-size: 0.75em;
}

.menu_header .toggle-nav {
  margin: auto 0;
  text-decoration: none;
  color: var(--letter_color);
  transition:color linear 0.15s;
}

.menu_header .toggle-nav svg {
  fill: currentColor;
  height: calc(var(--photo_size) / 2);
  width: calc(var(--photo_size) / 2);
}

.menu_header .toggle-nav:hover, .menu_header .toggle-nav.active {
  text-decoration:none;
  color: var(--highlight_color);
}

.menu_body {
  display: none;
  padding-top: 3em;
  min-height: 100vh;
}

.menu_link.ativo {
  color: var(--highlight_color);
}

.menu_list li {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold; 
  padding: 1em 2em;
  letter-spacing: 0.2em;
  border-bottom: 1px solid var(--letter_color);
} 

.menu_list li:last-child {
  border-bottom: 1px solid var(--letter_color);
}

.menu_list li:first-child {
  border-top: 1px solid var(--letter_color);
}

.menu_list a {
  color: var(--letter_color);
  text-decoration: none;
}

.menu_list a:hover {
  color: var(--highlight_color);
}

.menu_social {
  text-align: center;
  padding-top: 1em;
}

.menu_social a {
  text-decoration: none;
}

.social svg {
  fill: currentColor;
  height: 40px;
  color: var(--letter_color);
  padding: 0em 0.5em;
}

.social svg:hover {
  color: var(--highlight_color);
}