.posts_area {
  display: grid;
  grid-area: "main_post" "old_post";
  grid-template-rows: 400px auto;
  grid-gap: 3.0em;
  margin: 3.33em 3.3em 1.2em 3.3em;
  height: calc(100% - 3.33em - 1.2em);
}

/* Shared proprieties */

.main_post, .latest_posts_box {
  box-shadow: 8px 14px 30px 0px rgba(40, 49, 58, 0.23);
}

.main_post:hover, .latest_posts_box:hover {
  transition: all .5s ease;
  box-shadow: 4px 7px 5px 0px rgba(40, 49, 58, 0.23);
}

/* Main post */

.main_post {
  grid-area: "main_post";
  display: grid;
  grid-template-areas: "main_img" "main_text";
  grid-template-columns: 70% 30%;
  grid-template-rows: 100%;
  border-radius: 5px;
  background: white;
}

.main_post_img {
  grid-area: "main_img";
  background: no-repeat;
  background-size: cover;
  border-radius: 5px 0px 0px 5px;
}

.main_post_text {
  grid-area: "main_text";
  display: grid;
  grid-area: "main_text_header" "main_text_body" "main_text_tags";
  grid-template-rows: auto auto 10%;
  margin: 1.2em 1.2em 0em 1.2em;
  overflow: none;
}

.main_text_header {
  grid-area: "main_text_header";
}

.main_text_body {
  grid-area: "main_text_body";

}

.main_text_tags {
  grid-area: "main_text_tags";
  color: #ef9221;
}

/* Latest posts */

.latest_posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.latest_posts_box {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  grid-template-rows: "latest_posts_img" "latest_posts_txt";
  grid-template-rows: 200px auto;
  margin-top: 2em;
  max-height: 600px;
  width: 320px; /* Se colar 30% fica um pouco mais responsivo*/
}

.latest_posts_img {
  grid-area: "latest_posts_img";
  background: no-repeat;
  background-size: cover;
  border-radius: 5px;
  min-height: 200px;
}

.latest_posts_txt {
  grid-area: "latest_posts_txt";
  display: grid;
  grid-template-rows: "latest_posts_header" "latest_posts_body" "latest_posts_tags";
  grid-gap: 1em;
  grid-template-rows: auto auto 10%;
  margin: 0em 1.2em 1em 1.2em;
  height: calc(100% - 2em)
}

.latest_posts_header {
  grid-area: "latest_posts_header";
}

.latest_posts_body {
  grid-area: "latest_posts_body";
}

.latest_posts_tags {
  grid-area: "latest_posts_tags";
  color: #ef9221;
  margin-top: 1em;
}