/* Configurações Gerais*/

main {
  overflow-x: hidden;
  position: relative;
  margin-top: 20px;
  /*padding: 0px 4vw;*/
}

/* Post Content */

.inner_box {
  margin: 0 auto;
  width: 100%;
  max-width: 1040px;
}

.post_img {
  background: no-repeat;
  background-size: cover;
  background-position: center top;
  margin: 0 -5vw -1vw;
  border-radius: 5px;
  height: 250px;
}

.post {
  position: relative;
  /*display: inline;*/ /*acho que não faz sentido isso aqui.*/ 
  margin: 0 auto;
  /*display: grid;*/ /*acho que não faz sentido isso aqui.*/ 
  margin-bottom: 100px;
}

.title_header {
  display: flex;
  flex-direction: column;
  flex:1;
  background: var(--bkg_color);
  padding: 1.3em 4vw 1.3em;
  border-top: 0.1em solid  var(--highlight_color);
}

.title_box h1 {
  margin: auto 0;
  font-family: var(--second_font);
  font-size: 2em;
  color: var(--letter_color);
}

.date_box h2 {
  padding-top: 1.2em;
  font-size: 1em;
  color: var(--letter_color);
}

.date_box h2:after {
  background-color: var(--highlight_color);
  display: block;
  content: "";
  height: 1px;
  margin-top: 0.2em;
  width: 60px;
}

.content {
  min-height: 230px;
  padding: 1.3em 4vw;
  box-shadow: 8px 14px 30px 0px rgba(40, 49, 58, 0.23);
  border-bottom: 0.1em solid var(--highlight_color);
}

.content p {
  display: block;
  text-align: justify;
  font-size: 1.2em;
  line-height: 1.6em;
  text-rendering: optimizeLegibility;
  margin-block-start: 1.2em;
  margin-block-end: 1.2em;
}