body {
  font-family: 'Karla', sans-serif;
}

main {
  overflow-x: hidden;
  position: relative;
  margin-top: 200px;
  padding: 0px 4vw;
}

@media screen and (max-width: 1170px) {
  .post_img {
    display: none;
  }
}

/* Post menu */

.menu {
  display: grid;
  grid-template-areas: "menu_header" "menu_list";
  grid-template-columns: 10% auto; 
  background: #292929; /*#444444*/
  position: fixed;
  width: 100%;
  top: 0px;
  padding: 10px 0;
  z-index: 50;
  padding-left: calc(calc(100% - 1040px) / 2);
}

.menu_header {
  grid-area: "menu_header";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu_header img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 2px solid #E5A544;
}

.menu_list {
  grid-area: "menu_list";
  display: flex;
  align-items: center;
}

.menu_list li {
  display: inline;
  text-transform: uppercase;
  font-weight: bold; 
  font-size: 1em;
  line-height: 2em;
  border-right: 1px solid #DADADA;
  padding: 1em 2em;
  letter-spacing: 0.2em;
} 

.menu_list li:first-child {
  border-left: 1px solid #DADADA;
}

.menu_list a {
  color: #DADADA;
  text-decoration: none;
}

.menu_list a:hover {
  color: #E5A544;
}

.social {
  padding: 0em 2em;
}

.social svg {
  fill: currentColor;
  height: 40px;
  color: #DADADA;
  padding: 0em 0.5em;
}

.social svg:hover {
  color: #E5A544;
}

/* Post Content */

.inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1040px;
}

.post_img {
  background: no-repeat;
  background-size: cover;
  margin: 0 -10vw -250px;
  border-radius: 5px;
  height: 800px;
}

.post {
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "title_header" "content";
  grid-template-rows: 190px auto;
  margin-bottom: 100px;
}

.title_header {
  grid-area: "title_header";
  background: #292929;
  padding-left: 1em;
  border-top: 0.3em solid  #E5A544;
}

.title_box h1 {
  font-family: 'Crimson Pro', serif;
  font-size: 3.5em;
  color: #DADADA;
}

.date_box {
  padding: auto 0px;
}

.date_box h2 {
  margin: auto 0px;
  font-size: 1.1em;
  color: #DADADA;
}

.date_box h2:after {
  background-color: #E5A544;
  display: block;
  content: "";
  height: 1px;
  margin-top: 0.5em;
  width: 60px;
}

.content {
  grid-area: "content";
  margin-top: 0;
  padding: 3em 100px; 
  background: white;
  min-height: 300px;
  box-shadow: 8px 14px 30px 0px rgba(40, 49, 58, 0.23);
  border-bottom: 0.3em solid  #E5A544;
}

.content p {
  display: block;
  text-align: justify;
  font-size: 1.45rem;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
  margin-block-start: 1em;
  margin-block-end: 1em;
}