.cards_area {
  margin-top: 6em;
  padding: 0 4% 1.2em 4%;
}

.recom_cards_space h3 {
  margin: 2em 0;
}

.book_space {
  display: flex;
  flex-direction: column;
}

.card_box {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 2px 2px 19px 7px rgba(40, 49, 58, 0.23);
  background-color: var(--bkg_color);
  margin-bottom: 1.5em;
}

.card_img_container {
  text-align: center;
  margin-right: 10px;
  border-radius: 5px 0px 0px 5px;
  border-right: 2px solid var(--highlight_color);
}

.card_img {
  display: flex;
}

.card_img img {
  border-radius: 5px 0px 0px 5px;
  max-height: 300px;
}

.card_body { 
  margin: 0em 1em;
}

.card_header {
  border-radius: 5px;
}

.card_header h1 {
  color: var(--letter_color);
}

.card_header h1:after {
  background-color: var(--highlight_color);
  display: block;
  content: "";
  height: 1px;
  margin-top: 0.5em;
  width: 70%;
} 

.card_description {
  color: var(--letter_color);
}

.card_opnion {
  margin-top: 0.5em;
  margin: 0em 1em;
  color: var(--letter_color);
  /*text-align: center;*/
}

.card_opnion h1 {
  color: var(--bkg_color);
}

.card_opnion svg { 
  max-width: 0.8em;
  margin-right: 0.2em;
}

@media screen and (min-width: 1070px) {

  .cards_area {
    margin-top: 0em;
    margin-left: calc(var(--menu_width) + 2 * var(--menu_padding));
    padding: 0 auto;
    max-width: 1040px;
  }

  .card_box {
      flex: 1 1 100%;
      flex-direction: row;
  }
}

/*
.card_img {
  padding: 10px 10px;
}

.card_img img {
  max-width: 60vw;
  max-height: 300px;
}

@media screen and (min-width: 750px) {


}*/