.cards_area {
  margin-top: 6em;
  padding: 0 4% 1.2em 4%;
}

.header p {
  text-align: justify;
  line-height: 1.1em;
  text-rendering: optimizeLegibility;
  margin-block-start: 1.2em;
  margin-block-end: 1.2em;
  max-width: 800px;
  padding: 1em 0em;
  margin: auto;
}

.header h1 {
  display: inline-block;
}

.header h1:after {
  background-color: var(--highlight_color);
  display: block;
  content: "";
  height: 2px;
  margin-top: 0.3em;
  width: 85%;
} 

.recom_cards_space h3 {
  margin: 2em 0;
  font-weight: bold;
}

.list_space {
  display: flex;
  flex-direction: column;
}

.card_box {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 2px 2px 19px 7px rgba(40, 49, 58, 0.23);
  background-color: var(--bkg_color);
  padding: 0.5em 0.8em;
  padding-bottom: 1.2em;
  margin-bottom: 1.5em;
}

.card_img_container {
  border-radius: 5px 5px;
  margin: auto auto;
}

.card_img {
  display: flex;
}

.card_img img {
  border-radius: 5px 5px;
  max-height: 300px;
}

.card_body { 
  padding: 0em 1em;
}

.card_header {
  border-radius: 5px;
}

.card_header h1 {
  color: var(--letter_color);
  display: inline-block;
}

.card_header h1:after {
  background-color: var(--highlight_color);
  display: block;
  content: "";
  height: 1px;
  margin-top: 0.2em;
  width: 85%;
} 

.card_description {
  color: var(--letter_color);
}

.card_description p {
  text-align: justify;
  line-height: 1.1em;
  text-rendering: optimizeLegibility;
  margin-block-start: 1.2em;
  margin-block-end: 1.2em;
}

.card_description li {
  margin: 0.5em 0.4em;
}

.card_opnion_book {
  margin-top: 0.5em;
  margin: 0em 1em;
  color: var(--letter_color);

}

.card_opnion_book h1 {
  color: var(--bkg_color);
}

.card_opnion_book li {
  margin: 0.5em 0.4em;
  list-style-type: disc;
}

.card_opnion {
  margin-top: 0.5em;
  margin: 0em 1em;
  color: var(--letter_color);
}

.card_opnion h1 {
  color: var(--letter_color);
  display:inline-block;
}

.card_opnion h1:after {
  background-color: var(--highlight_color);
  display: block;
  content: "";
  height: 1px;
  margin-top: 0.2em;
  width: 85%;
} 

.card_opnion li {
  margin: 0.5em 0.4em;
  list-style-type: disc;
}

@media screen and (min-width: 1070px) {

  .cards_area {
    margin-top: 0em;
    margin-left: calc(var(--menu_width) + 2 * var(--menu_padding));
    padding: 0 auto;
    max-width: 1040px;
  }

  .card_box {
      flex-direction: row;
    padding: 0em 0em;
  }

  .card_img img {
    border-radius: 5px 0px 0px 5px;
  }

  .card_body { 
    flex: 1 1 50%;
    border-left: 2px solid var(--highlight_color);
  }

  .card_opnion_book {
    flex: 1 1 25%;
    padding-bottom: 1.2em;
    /*width: 30vw;  */
  }
  
  .card_opnion {
    flex: 1 1 25%;
    padding-bottom: 1.2em;
    /*width: 30vw;  */
  }

}