<!DOCTYPE html>

<html>

  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/menu_barra.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/menu_lateral.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/home_cards.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Karla&display=swap" rel="stylesheet">
    {% seo %}
  </head>

  <style>
    :root {
      --position: none;
    }
  </style>

  <body>
    
    <nav>      
      {%- include menu.html -%}
    </nav>

    <main>

      <div class="cards_area">
       aaa <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
      </div>

    </main>

  </body>

</html>
