<!DOCTYPE html>

<html>

  <head>
    
    {%- include site_icons.html -%}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/menu_barra.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/menu_lateral.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/home_cards.css"> 
    <link rel="stylesheet" type="text/css" href="/assets/css/pagination.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Karla&display=swap" rel="stylesheet">
    <meta name="google-site-verification" content="wYQAmwjGoF1m-VjxiMX0hlymXQ2euv5C3uzk1Z-UKHs" />

    {%- include google_analytics.html -%}

    {% seo %}

  </head>
  <style>
    :root {
      --position: none;
    }
  </style>

  <body>
    
    <nav>      
      {%- include menu.html all_tags="ativo" -%}
    </nav>
    <main>

      <div class="cards_area">
          Página em construção...
          Aqui vão estar as tags.
      </div>

    </main>

  </body>

</html>
