<!DOCTYPE html>

<html>

  <head>
    
    <link rel="shortcut icon" href="/assets/img/icon/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/assets/img/icon/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/icon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/icon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/icon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/icon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/icon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/icon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/icon/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icon/apple-touch-icon-180x180.png" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/menu_barra.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/menu_lateral.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/home_cards.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Karla&display=swap" rel="stylesheet">
    <meta name="google-site-verification" content="wYQAmwjGoF1m-VjxiMX0hlymXQ2euv5C3uzk1Z-UKHs" />

    {% seo %}

  </head>
  <style>
    :root {
      --position: none;
    }
  </style>

  <body>
    
    <nav>      
      {%- include menu.html -%}
    </nav>

    <main>

      <section class="cards_area">
        <div class="latest_cards">
          {% for post in site.posts %}
            {%- include home_cards.html -%}
          {% endfor %}
        </div>
      </section>  

    </main>

  </body>

</html>
