<!DOCTYPE html>

<html>

  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale=1" >

    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/posts.css">

  </head>

  <body>
    
    <nav>      
      <section class="menu">

        <header class="menu_header">
          <img src="/img/photo.jpg">
          <h1>Ronaldo G. M. Rodrigues</h1>
        </header>

        <ul class="menu_list">
          <li><a href="home.html">Home</a></li>
          <li><a href="">About Me</a></li>
          <li><a href="">Livros</a></li>
          <li><a href="">Tags</a></li>
          <li><a href="">Projetos</a></li>
          <li><a href="">Contato</a></li>
        </ul>
      </section>
    </nav>

    <main>

      <section class="posts_area">

        {% for post in site.posts limit:1 %}

          {% if forloop.index == 1 %}

            <div class="main_post">

              <div class="main_post_img" style="
                background-image: url('{{ post.img_url }}')">
              </div>

              <div class="main_post_text">

                <header class="main_text_header">
                  <a href='{{ post.url }}'><h1> {{ post.title }} </h1></a>
                  <h2> {{ post.date | date: "%d/%m/%Y" }} </h2>
                </header>

                <p class="main_text_body">
                 {{ post.description }}
               </p>

                <p class="main_text_tags">
                  {% for tag in post.categories %}
                    #{{ tag }}
                  {% endfor %}
                </p>

              </div>
            </div>
          {% endif %} 
        {% endfor %}

        <div class="latest_posts">
          {% for post in site.posts %}

            {% if forloop.index != 1 %}

              <div class="latest_posts_box">     
                     
                <div class="latest_posts_img" style="
                  background-image: url('{{ post.img_url }}')">
                </div>

                <div class="latest_posts_txt">

                  <header class="latest_posts_header">
                    <a href='{{ post.url }}'><h1> {{ post.title }} </h1></a>
                    <h2> {{ post.date | date: "%d/%m/%Y" }} </h2> 
                  </header>

                  <p class="latest_posts_body">
                    {{ post.description }}
                 </p>

                <p class="main_text_tags">
                  {% for tag in post.categories %}
                    #{{ tag }}
                  {% endfor %}
                </p>

                </div>
              </div>
            {% endif %} 
          {% endfor %}
        </div>
      </section>  
    </main>

<!--     <footer>

    </footer> -->

  </body>

</html>
