<!DOCTYPE html>

<html>

  <head>
    
    {%- include site_icons.html -%}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/menu_barra.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/menu_lateral.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/home_cards.css"> 
    <link rel="stylesheet" type="text/css" href="/assets/css/all_tags.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Karla&display=swap" rel="stylesheet">
    <meta name="google-site-verification" content="wYQAmwjGoF1m-VjxiMX0hlymXQ2euv5C3uzk1Z-UKHs" />

    {%- include google_analytics.html -%}

    {% seo %}

  </head>
  <style>
    :root {
      --position: none;
    }
  </style>

  <body>
    
    <nav>      
      {%- include menu.html -%}
    </nav>
    <main>

      <section class="cards_area">

        <div class="title">
          <h1>Lista Impossível</h1>

          <p style="line-height: 1.1em; padding: 1.3em 1em;">
            Minha lista de coisas "impossíveis".
          </p>

        </div>



        <div class="tags_area">
          
          <div class="tags_box">

            <h1>Aprendizado</h1>

            <ul style="line-height: 1.1em; margin: 1em 0em; color: var(--letter_color);">
              <li> <input type="checkbox"> Aprender a cozinhar direito. </li>
              <li> <input type="checkbox"> Aprender espanhol. </li>
              <li> <input type="checkbox"> Estudar sistemas complexos. </li>
              <li> <input type="checkbox"> Estudar quântica. </li>
              <li> <input type="checkbox" checked="checked"> Aprender HTML. </li>
            </ul>

          </div>

          <div class="tags_box">

          <h1>Viagens</h1>

          <ul style="line-height: 1.1em; margin: 1em 0em; color: var(--letter_color);">
            <li> <input type="checkbox"> Viagem em grupo para o exterior. </li>
            <li> <input type="checkbox"> Visitar a Grécia. </li>
            <li> <input type="checkbox"> Visitar a Espanha. </li>
            <li> <input type="checkbox"> Visitar NY no outono. </li>
            <li> <input type="checkbox"> Visitar o deserto do Atacama. </li>
            <li> <input type="checkbox"> Visitar Santiago no Chile. </li>
            <li> <input type="checkbox"> Visitar o Uruguai. </li>
          </ul>

        </div>
          
          <div class="tags_box">

          <h1>Vida</h1>

          <ul style="line-height: 1.1em; margin: 1em 0em; color: var(--letter_color);">
            <li> <input type="checkbox"> Juntar 100k. </li>
            <li> <input type="checkbox"> Morar sozinho e bancar minhas contas. </li>
            <li> <input type="checkbox"> Montar um site do zero e ter 5 artigos escritos. </li>
            <li> <input type="checkbox"> Ler 8 livros em um ano. </li>
            <li> <input type="checkbox" checked="checked"> 1 mês sem comer doce. </li>
            <li> <input type="checkbox"> 1 mês sem cerveja. </li>
            <li> <input type="checkbox"> 1 mês sem café. </li>
          </ul>

        </div>
          
          <div class="tags_box">

          <h1>Criativo</h1>

          <ul style="line-height: 1.1em; margin: 1em 0em; color: var(--letter_color);">
            <li> <input type="checkbox"> Escrever um conto. </li>
            <li> <input type="checkbox"> Escrever um texto inteiro em inglês sem precisar de revisão. </li>
            <li> <input type="checkbox"> Escrever um artigo por semana durante 1 mês. </li>
            <li> <input type="checkbox"> Aplicar física em um problema muito aleatório. </li>
            <li> <input type="checkbox"> Colaborar com um projeto de código aberto no Github. </li>
          </ul>

        </div>
          
          <div class="tags_box">

          <h1>Profissional</h1>

          <ul style="line-height: 1.1em; margin: 1em 0em; color: var(--letter_color);">
            <li> <input type="checkbox"> Trabalhar em um empresa. </li>
            <li> <input type="checkbox"> Publicar um artigo completo - Ideia, escrita e envio. </li>
            <li> <input type="checkbox"> Concluir o doutorado em física. </li>
            <li> <input type="checkbox"> Ministrar um curso inteiro sobre algum tópico que ache interessante. </li>
            <li> <input type="checkbox"> Fazer uma apresentação de 15min em inglês. </li>
            <li> <input type="checkbox"> Ficar um ano sem trabalhar. </li>
          </ul>

        </div>

        </div>

      </section>  

    </main>

  </body>

</html>
