<!DOCTYPE html>

<html>

  <head>

    {%- include site_icons.html -%}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/code_highlighting.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/menu_barra.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/post.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Karla&display=swap
    " rel="stylesheet">

    {%- include google_analytics.html -%}
    

    {% seo %}
  </head>

  <style>
    :root {
      --position: center;
    }
  </style>

  <body>

    <nav>      
      {%- include menu.html -%}
    </nav>

    <main>
      <div class='inner_box'>

        {%- include share_box.html -%}

        <div class="image_credit">
          <h5>{{ page.image_credit }}</h5>
        </div>

        <section class='article'>
          {%- include article.html -%}
          {%- include share_box.html -%} 
        </section> 
      </div>
    </main>
  </body>
</html>
