<!DOCTYPE html>

<html>

  <head>
    
    {%- include site_icons.html -%}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/menu_barra.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/menu_lateral.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/pagination.css"> 
    <link rel="stylesheet" type="text/css" href="/assets/css/recom_cards.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Karla&display=swap" rel="stylesheet">
    <meta name="google-site-verification" content="wYQAmwjGoF1m-VjxiMX0hlymXQ2euv5C3uzk1Z-UKHs" />

    {%- include google_analytics.html -%}

    {% seo %}

  </head>
  <style>
    :root {
      --position: none;
    }
  </style>

  <body>
    
    <nav>      
      {%- include menu.html recom="ativo" -%}
    </nav>

    <main>

      <div class="cards_area">

        <div class="header">
          <h1>Lista de recomendações</h1>

          <p>
            Todo mundo tem uma lista de coisas interessantes para recomendar, sejam elas receitas de pão de queijo, livros ou até aplicativos de celular. Esse é um pedaço pequeno da minha lista, espero que te seja útil.
          </p>
          
        </div>

        <div class="recom_cards_space">

          <h3>Livros:</h3>
          
          <div class="list_space">
            
            <div class="card_box">

              <div class = "card_img_container">
                  <div class="card_img">
                    <img style="-webkit-user-select: none;margin: auto;" src="https://m.media-amazon.com/images/I/41alIv87Z5L._SY346_.jpg"
                    alt="rápido e devagar">
                  </div>
              </div>

              <div class="card_body">
                
                <header class="card_header">
                  <h1>Rápido e Devagar</h1>
                </header>

                <p class="card_description">
                  Fala sobre o funcionamento da nossa mente....
                </p>

              </div>

              <div class="card_opnion">
                <h1>" "</h1>
                <ul>
                  <li>Bom para entender como cometemos erros bobos...</li>
                </ul>
              </div>
              
            </div>

          <h3>Apps:</h3>

          <div class="list_space">
            
            <div class="card_box">

              <div class = "card_img_container" style="background-color: grey;">
                  <div class="card_img">
                    <img style="background: white; width:205px;" src="https://www.notion.so/front/shared/illustrations/use-case-database.png"
                    alt="rápido e devagar">
                  </div>
              </div>

              <div class="card_body">
                
                <header class="card_header">
                  <h1>Notion</h1>
                </header>

                <div class="card_description">
                  <p>Um dos melhores aplicativos que já usei. Uma lista curta das coisas que eu faço no Notion:</p>

                  <ul style="margin: 1em 1em; list-style-type: disc;">
                    <li>Faço anotações dos meus estudos para o doutorado.</li>
                    <li>Organizo meus projetos no Github.</li>
                    <li>Salvo anotações ou textos da internet que eu não quero perder.</li>
                    <li>Organizo minhas tarefas diárias.</li>
                    <li>Visualizo o fluxo dos meus projetos.</li>
                  </ul>

                  <p> O problema do Notion é a demora até aprender a usa-lo direito, esse é o preço que se paga pela versatilidade.</p>

                </div>

              </div>

              <div class="card_opnion">
                <h1>Prós</h1>
                <ul>
                  <li>Extremamente versátil.</li>
                  <li>É de graça.</li>
                  <li>Tem um design agradável.</li>
                  <li>Muitas opções de customisação.</li>
                </ul>
                <h1>Contras</h1>
                <ul>
                  <li>Demora um tempo para aprender a usar o app direito.</li>
                </ul>
              </div>
              
            </div>

          </div>

          <h3>Utilidades:</h3>

          <div class="list_space">
            
            <div class="card_box">

              <div class = "card_img_container" style="background-color: grey;">
                  <div class="card_img">
                    <img style="background: white; width:205px;" src="https://stanley.fbitsstatic.net/img/p/copo-termico-de-cerveja-matte-black-473ml-78082/264566-1.jpg?w=990&h=1024&v=no-change"
                    alt="rápido e devagar">
                  </div>
              </div>

              <div class="card_body">
                
                <header class="card_header">
                  <h1 >Copo da Stanley</h1>
                </header>

                <div class="card_description">
                  <p>Apesar de ser caro, o copo vale muito apena. Basicamente o que ele faz é manter sua bebida gelada, gelada, e sua bebida quente, quente.</p>

                  <p> De acordo com a empresa, o copo mantém sua bebida quente por 45min e sua bebida gelada por 4h. </p>
                </div>

              </div>

              <div class="card_opnion">
                <h1>Prós</h1>
                <ul>
                  <li>Mantém seu café quente.</li>
                  <li>Mantém sua cerveja gelada.</li>
                  <li>Garantia vitalícia.</li>
                </ul>
                <h1>Contras</h1>
                <ul>
                  <li>O preço não é muito acessível.</li>
                </ul>
              </div>
              
            </div>

          </div>
        </div>

      </div>

    </main>

  </body>

</html>
