<!DOCTYPE html>

<html>

  <head>
    
    {%- include site_icons.html -%}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/menu_barra.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/menu_lateral.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/pagination.css"> 
    <link rel="stylesheet" type="text/css" href="/assets/css/recom_cards.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Karla&display=swap" rel="stylesheet">
    <meta name="google-site-verification" content="wYQAmwjGoF1m-VjxiMX0hlymXQ2euv5C3uzk1Z-UKHs" />

    {%- include google_analytics.html -%}

    {% seo %}

  </head>
  <style>
    :root {
      --position: none;
    }
  </style>

  <body>
    
    <nav>      
      {%- include menu.html recom="ativo" -%}
    </nav>

    <main>

      <div class="cards_area">

        <h1>Lista de recomendações</h1>

        <h2>
          Todo mundo tem uma lista de coisas interessantes para recomendar, sejam elas receitas de pão de queijo, livros ou até softwares. Uma pequena lista das coisas que gosto de recomendar estão abaixo, espero que te seja útil.
        </h2>

        <div class="recom_cards_space">

          <h3>Livros:</h3>
          
          <div class="book_space">
            
            <div class="card_box">

              <div class = "card_img_container">
                  <div class="card_img">
                    <img style="-webkit-user-select: none;margin: auto;" src="https://m.media-amazon.com/images/I/41alIv87Z5L._SY346_.jpg"
                    alt="rápido e devagar">
                  </div>
              </div>

              <div class="card_body">
                
                <header class="card_header">
                  <h1>Rápido e Devagar</h1>
                </header>

                <p class="card_description">
                  Fala sobre o funcionamento da nossa mente....
                </p>

              </div>

              <div class="card_opnion">
                <h1>" "</h1>
                <p>
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus-circle" class="svg-inline--fa fa-plus-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z"></path></svg>
                Bom para entender como cometemos erros bobos...</p>
              </div>
              
            </div>

            <div class="card_box">

              <div class = "card_img_container">
                  <div class="card_img">
                    <img style="-webkit-user-select: none;margin: auto;" src="https://m.media-amazon.com/images/I/41y61br17LL.jpg"
                    alt="rápido e devagar">
                  </div>
              </div>

              <div class="card_body">
                
                <header class="card_header">
                  <h1>Foco</h1>
                </header>

                <p class="card_description">
                  Também fala sobre o funcionamento da nossa mente....
                </p>

              </div>

          </div>

          <h3>Apps:</h3>

          <h3>Utilidades:</h3>

        </div>

      </div>

    </main>

  </body>

</html>
